@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

button {
  background-color: #1d2951;
  border: none;
  color: #fff;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 15px;

}

nav {
  background-color: #1d2951;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem;
  transform: translateX(300px);
  transition: transform 0.5s ease-in-out;
}

nav.active {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 1rem 0;

}

nav a {
  color: #fff;
  text-decoration: none;
}

